{% extends 'base.html.twig' %}
{% block title %}Sign In{% endblock %}

{% block body %}
<div class="mx-auto" style="max-width:420px;">
    <h2 class="text-center mb-4">Welcome Back</h2>

    <div class="glass p-5">
        <input class="form-control bg-transparent text-light border-secondary mb-4" placeholder="Email">
        <input type="password" class="form-control bg-transparent text-light border-secondary mb-4" placeholder="Password">
        <button class="btn-lux w-100">Sign In</button>
    </div>
</div>
{% endblock %}


